.rating-area {
	overflow: hidden;
	margin: 0 auto;
	display: inline-flex;
	flex-flow: row-reverse;
	justify-content: flex-end;
}

.rate-control {
	border: none;
	background-color: transparent;
}

.rate-control:before {
	content: '★';
}

.rate-control--checked {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.rate-control--checked ~ .rate-control {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}